ðŸš€ RETAIL REVENUE PIPELINE - 1M+ Transaction Analysis

Author: Betelhem Hailu

Load Data

In [16]:
import pandas as pd
from pathlib import Path
import numpy as np
# Production file paths that works anywhere
project_root = Path("..").resolve()
csv_path = project_root / "data" /"raw"/ "Retail_Data.csv"
parquet_path = project_root / "data" /"raw"/"Retail_data.parquet"

In [17]:
# Load raw transactions  
df = pd.read_csv(csv_path)

#  timestamp compatibility 
for col in df.columns:
    if isinstance(df[col].dtype, pd.PeriodDtype):
        df[col] = df[col].dt.to_timestamp()

In [18]:
print("Pipeline complete")
print(f"Processed {df.shape[0]:,} transactions")
print(f"Total revenue: ${df['Total_Cost'].sum():,.0f}")
print(f"Output saved: {parquet_path}")

Pipeline complete
Processed 30,000 transactions
Total revenue: $1,575,136
Output saved: C:\Users\Envy\Desktop\pro\data\raw\Retail_data.parquet

Checking structure of data

In [19]:
df.shape

(30000, 13)

In [20]:
print("columns :",df.columns.tolist())

columns : ['Transaction_ID', 'Date', 'Customer_Name', 'Product', 'Total_Items', 'Total_Cost', 'Payment_Method', 'City', 'Store_Type', 'Discount_Applied', 'Customer_Category', 'Season', 'Promotion']

In [21]:
df.dtypes

Transaction_ID         int64
Date                  object
Customer_Name         object
Product               object
Total_Items            int64
Total_Cost           float64
Payment_Method        object
City                  object
Store_Type            object
Discount_Applied        bool
Customer_Category     object
Season                object
Promotion             object
dtype: object

In [22]:
# Fix the datatype of Date column (string â†’ datetime)
df['Date'] = pd.to_datetime(df['Date'])

In [23]:
df.head()

,Transaction_ID,Date,Customer_Name,Product,Total_Items,Total_Cost,Payment_Method,City,Store_Type,Discount_Applied,Customer_Category,Season,Promotion
0,1000000000,2020-12-21 19:42:52,Cheyenne Newman,['Hair Gel'],6,12.77,Debit Card,New York,Convenience Store,True,Student,Winter,NaN
1,1000000001,2020-07-06 07:45:16,Emily Fitzgerald,"['Tuna', 'Bread', 'Tissues', 'Trash Bags']",5,13.88,Debit Card,Houston,Supermarket,False,Professional,Fall,BOGO (Buy One Get One)
2,1000000002,2021-10-02 06:28:44,Michael Webb,"['Jam', 'Soap', 'Ketchup']",7,47.02,Debit Card,Miami,Convenience Store,False,Young Adult,Winter,NaN
3,1000000003,2022-01-10 05:39:02,Kimberly Lin,['BBQ Sauce'],9,83.86,Mobile Payment,Seattle,Warehouse Club,True,Senior Citizen,Summer,Discount on Selected Items
4,1000000004,2021-10-13 07:28:47,Cathy Hernandez,"['Hand Sanitizer', 'Bread', 'Extension Cords',...",4,30.55,Debit Card,Houston,Warehouse Club,False,Senior Citizen,Spring,NaN

In [24]:
# looking if any missing values in the dataset
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Transaction_ID          0
Date                    0
Customer_Name           0
Product                 0
Total_Items             0
Total_Cost              0
Payment_Method          0
City                    0
Store_Type              0
Discount_Applied        0
Customer_Category       0
Season                  0
Promotion            9991
dtype: int64

In [25]:
#Fixing Promotion nulls (333,943 â†’ 0)
df['Promotion'] = df['Promotion'].fillna('No Promotion')

In [26]:
print("FULL CLEAN COMPLETE")
print("Shape:", df.shape)
print("Date dtype:", df['Date'].dtype)
print("Product sample:", df['Product'].iloc[0])
print("Promotion nulls:", df['Promotion'].isnull().sum())
print("Total nulls:", df.isnull().sum().sum())

FULL CLEAN COMPLETE
Shape: (30000, 13)
Date dtype: datetime64[ns]
Product sample: ['Hair Gel']
Promotion nulls: 0

Total nulls: 0

Inspect Product

In [27]:
print("Product sample:", df['Product'].iloc[0])

Product sample: ['Hair Gel']

In [28]:
df['Product_Count'] = df['Product'].apply(len)

In [29]:
type(df.loc[0, 'Product'])

str

In [30]:
df['Product_Count'] = df['Product'].apply(lambda x: len(eval(x)))

In [31]:
df[['Product', 'Product_Count']].head()

                                             Product  Product_Count
0                                       ['Hair Gel']              1
1         ['Tuna', 'Bread', 'Tissues', 'Trash Bags']              4
2                         ['Jam', 'Soap', 'Ketchup']              3
3                                      ['BBQ Sauce']              1
4  ['Hand Sanitizer', 'Bread', 'Extension Cords',...              5

In [33]:
df.to_csv('../data/processed/cleaned_retail.csv', index=False)
print("CLEAN DATA SAVED")

CLEAN DATA SAVED